@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bkg: 255 255 255;
  --color-content: 0 0 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bkg: 0 0 0;
    --color-content: 255 255 255;
  }
}

.data-theme[data-theme="dark"] {
  --color-bkg: 0 0 0;
  --color-content: 255 255 255;
}
.data-theme[data-theme="light"] {
  --color-bkg: 255 255 255;
  --color-content: 0 0 0;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
